@charset "utf-8";

/*
.error
{
	margin: 1em 5% 10px;
	padding: 0 1em 0 1em;
}
*/
/* Golble
 * ================================ */
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.top {
	vertical-align: top;
}
.bold {
	font-weight: bold;
}
.private {
	color: #e64f69;
}
/* msgForm
 * ================================ */
form > div > div {
	margin: 1%  22%;
	position: static;
}
label {
	float: left;
	width: 22%;
}
input[type='text'] {
	width: 70%;
}
#msg_link_descr {
	width: 60%;
}
/* Navbar
 * ================================ */
.bt-navbar-right {
	float: right;
}
.bt-navbar-left {
	font-size: 1.3em;
}
